<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.briup.mappers.StudentMapper是我们定义接口的全限定名字 这样就可以使用接口调用映射的SQL语句了 这个名字一定要和接口对应上-->
<mapper namespace="com.briup.dao.CategoryMapper">

	
	<resultMap type="Book" id="BookResult">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
	</resultMap>
	
	<resultMap type="Category" id="CategoryResult">
		<id property="id" column="cid"/>
		<result property="name" column="cname"/>
		<result property="info" column="info"/>
		<collection property="books" resultMap="BookResult"></collection>
	</resultMap>
	
	<select id="findAllCategory" resultMap="CategoryResult">
		select c.id cid,c.name cname,c.info,b.id,b.name,b.price
		from e_book b,e_category c
		where c.id=b.categoryId(+)
	</select>
	
	<select id="findCategoryByIdWithBooks" parameterType="int" resultMap="CategoryResult">
		select c.id cid,c.name cname,c.info,b.id,b.name,b.price
		from e_book b,e_category c
		where c.id=b.categoryId
			and c.id=#{id}
	</select>
	
</mapper>